@media only screen and (min-width: 1251px) and (max-width: 1440px) {
     .manfact_crd {
          width: 30%;
     }

     .flex_rap {
          flex-wrap: wrap;
     }

     .res_ed_pop {
          width: auto;
          border: none;

     }

     .stes_crd_info p {
          width: auto;
     }

     .vcctv_tv {
          width: 45%;
     }

     .vcctv_txt {
          width: 50%;
     }

     /* scroll */
     .slidr_author {
          font-size: 10px !important;
          color: #939393;
     }
}

@media only screen and (min-width: 1024px) and (max-width: 1251px) {
     .vcctv_txt p {
          color: #222222;
          font-size: 14px;
     }

     .stes_crd_info p {
          width: auto;
     }

     .manfact_crd {
          width: 30%;
     }

     .flex_rap {
          flex-wrap: wrap;
     }

     .res_ed_pop {
          width: auto;
     }

     .res_ad_img img {
          height: 250px;
     }

     .big_container {
          margin-left: 100px;
          margin-right: 100px;
     }

     .vcctv_tv {
          width: 45%;
     }

     .vcctv_txt {
          width: 50%;
     }

     /* scroll */
     .slidr_author {
          font-size: 10px !important;
          color: #939393;
     }
}

@media only screen and (min-width: 768px) and (max-width: 1160px) {
     .maincard_col::before {
          content: "";
          position: absolute;
          display: none;
     }

     .kalupri::before {
          content: "";
          position: absolute;
          display: none;
     }

     .upevent_shdows::before {
          content: "";
          position: absolute;
          display: none;
     }

     .vcctv_txt h2 {
          font-size: 15px;
     }

     .down_nav_list {
          padding: 12px 6px;
          font-size: 1.2vw;
     }

     .ed_poprap {
          flex-wrap: wrap;
          justify-content: space-around;
     }

     .stes_crd_info p {
          width: auto;
          font-size: 1.3vw;
     }

     /* .stes_crd img { */
     /* width: 35%; */
     /* } */


     .stes_crd_info span {
          font-size: .7vw;
     }

     .ed_pop_img {
          width: 252px;
     }

     .ed_pop {
          width: 20.1%;
     }

     .res_ed_pop {
          /* width: 100% !important; */
          width: auto;
     }

     .res_ed_pop_line {
          justify-content: normal;
     }

     /* .ed_pop_ad {
          display: none;
      } */

     .manufact_respimg img {
          width: 100%;
     }

     .manufact_resinfo {
          width: 100%;
     }

     .big_container {
          margin-left: 80px;
          margin-right: 80px;
     }

     .flex_drct_clum {
          flex-direction: column-reverse;
     }

     .flex_rap {
          flex-wrap: wrap;
     }

     .main_crds_box {
          margin-bottom: 15px;
     }

     .respon_crds_box {
          width: 23.2% !important;
     }

     .respon_crds_box p {
          font-size: 2vw;
     }

     .respon_crds_box span {
          font-size: 1.2vw;
     }

     .main_crd_res_head h2 {
          font-size: 3vw;
     }

     .main_crd_res_head p {
          font-size: 2vw;
     }

     .manfact_crd {
          width: 44%;
          margin-top: 12px;
     }

     .restwo_sudhir {
          width: 50% !important;
     }

     .ed_pop_sec2 {
          border: none;
     }

     .vcctv_tv {
          width: 45%;
     }

     .vcctv_txt {
          width: 50%;
     }

     /* scroll */
     .slidr_text {
          font-size: 2vw !important;
          width: 100% !important;
     }

     .slidr_author {
          font-size: 8px !important;
          color: #939393;
     }

     .restwo_sudhir {
          width: 50% !important;
          margin-top: 15px;
     }

     .res_twitter_sec {
          flex-wrap: wrap;
     }

     .res_edi_pop {
          width: auto !important;
     }

     .swiper-slide {
          width: 330px !important;
     }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {

     /* .ed_pop {
          display: none;
     } */
     .manufact_info h1 {
          margin-top: 5px;
          margin-bottom: 5px;
          font-size: 3vw;
     }

     .ed_pop_ad {
          display: none;
     }

     /* .swiper-slide {
          width: 264px !important;
     } */

     .vcctv_txt {
          width: 52%;
     }

     .vcctv_txt h2 {
          font-size: 14px;
          width: auto;
     }

     .vcctv_txt p {
          font-size: 12px;
     }

     .res_twitter_sec {
          flex-wrap: wrap;
          align-items: center;
     }

     .swiper-slide {
          width: 330px !important;
     }
}

@media only screen and (min-width:768px) and (max-width: 868px) {
     .vcctv_txt {
          width: 54%;
     }

     .res_twitter_sec {
          flex-wrap: wrap;
          align-items: center;
     }

     .flex_rap {
          flex-wrap: wrap;
     }

     .stes_crd2 {
          display: none;
     }

     .responsive_stories {
          flex-wrap: wrap;
     }

     .ed_pop_img {
          width: 210px;
     }

     .ed_pop_txt {
          font-size: 1.8vw;

     }

     .ed_pop_span {
          font-size: 1vw;
          color: #798692;
     }

     .ed_pop_sec2 {
          border: none;
     }

     .ed_pop_sec2txt p {
          font-size: 1.5vw;
          width: 222px;
     }

     /* scroll */
     .slidr_author {
          font-size: 9px !important;
          color: #939393;
     }
}

@media only screen and (min-width:310px) and (max-width: 768px) {
     .manufact_info h5 {
          color: #096FFA;
          margin-bottom: 11px;
          margin-top: 10px;
     }

     .subscribe_btn_desk {
          display: none;
     }

     .subscribe_btn_respon {
          display: block;
          text-align: center;
          margin-top: 15px;
     }

     .twitter_img_txt {
          bottom: 16px;
          width: 94%;
     }

     .brdr_line {
          border-bottom: 1px solid #939393;
          padding: 15px 0px;
          margin-bottom: 10px;
     }

     .upcoimg_desk_ {
          display: none;
     }

     .Upevent_heading h2 {
          font-size: 3.5vw;
     }

     .Upevent_heading p {
          font-size: 2vw;
     }

     .Upevent_heading p img {
          height: 5px;
     }

     .upcoimg_events_respons {
          display: block !important;
     }

     .evnts_blocks {
          justify-content: normal;
          width: 100%;
          margin: 0 auto;
          margin-bottom: 15px;
     }

     .evnts_txt {
          width: 100%;
          margin-left: 12px;
     }

     .evnts_blocks h5 {
          margin-bottom: 7px;
          margin-top: 0;
          color: #096FFA;
     }

     .evnts_txt h4 {
          font-size: 2vw;
     }

     .evnts_txt p {
          font-size: 13px;
     }

     .vccpremium_img_txt span {
          font-size: 8px;
     }

     .ed_pop_sec2txt p {
          width: 100%;
     }

     .ed_poprap {
          flex-wrap: wrap;
     }

     .respon_header_non {
          display: none;
     }

     .responsive_nav_list {
          display: block;
          margin-top: 5px;
          /* height: 306px; */
          text-align: center;
          border: 1px solid #dcdcdc2e;
          border-radius: 14px;
          animation: myfirst linear 0.1s forwards;
          position: absolute;
          top: 0%;
          width: 100%;
          background-color: white;
     }

     @keyframes myfirst {
          0% {
               opacity: 0;
          }

          100% {
               opacity: 1;
          }
     }

     .txt_cntr {
          text-align: center;
     }

     .flt_rgt {
          float: right;
     }

     .down_nav_ {
          border-bottom: 1px solid #e3e3e3;
          padding: 10px 10px;
     }

     .respon_nav_link_sub {
          display: inline-flex;
          align-items: center;
     }

     .respon_navbar_logo {
          width: 85px !important;
     }

     .navbar_logo img {
          width: auto;
          height: auto;
     }

     .responsive_navbar {
          display: none;
     }

     .navbar_logo {
          width: 100%;
          /* height: 47px; */
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0px 22px;
     }

     .navbar_ {
          height: auto;
          padding-bottom: 15px;
          padding-top: 15px;
          position: fixed;
          width: 100%;
          z-index: 8;
          background-color: white;
          top: 0%;
          box-shadow: 0px 5px 10px #00000014;

     }

     .nav_res_big_container {
          margin-right: 0 !important;
          margin-left: 0 !important;
     }

     .manufact_banner {
          margin-top: 80px;
     }


     .ham_icon {
          display: inline-block;
          font-size: larger;
          padding-right: 15px;
          color: black;
     }

     .manfact_crd p {
          font-size: 2vw;
          width: 100%;
     }

     .manfact_crd span {
          color: #798692;
          padding: 5px 2px;
          font-size: 1.5vw;
     }

     .input_txt {
          text-align: center;
     }

     .input_field input {
          margin-bottom: 15px;
     }

     .restwo_sudhir {
          width: 50% !important;
     }

     .res_twitter_sec {

          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;

     }

     .responsive_manfact_crd {
          display: flex;

     }

     .ed_pop {
          width: 0;
     }

     .ed_pop_txt {
          width: 100%;
          font-size: 15px;
     }

     .res_ed_pop {
          width: 100% !important;
          border: none;
     }

     .res_ed_pop_line {
          justify-content: normal;
     }

     .ed_pop_ad {
          display: none;
     }

     .res_display {
          display: block !important;
          margin-top: 15px;
          margin-bottom: 15px;
     }

     .res_ed_pop_sudhir {
          width: 100%;
     }

     .res_ed_pop_sudhir img {
          width: 100%;
     }


     .manufact_respimg img {
          width: 170px;
     }

     .big_fact_respimg img {
          width: 100% !important;
     }

     .manufact_resinfo {
          width: 100%;
     }

     .manufact_resinfo h1 {
          font-size: 3.2vw;
          text-align: justify;
     }

     .manufact_resinfo p {
          font-size: 2.2vw;
          text-align: justify;
     }

     .manufact_resinfo span {
          font-size: 1.5vw;
     }

     .flex_drct_clum {
          flex-direction: column-reverse;
     }

     .big_container {
          margin-left: 60px;
          margin-right: 60px;
     }

     .flex_rap {
          flex-wrap: wrap;
     }

     .main_crds_box {
          margin-bottom: 15px;
          width: auto;
          padding: 10px;
     }

     .main_crd_res_head h2 {
          font-size: 3vw;
     }

     .main_crd_res_head p {
          font-size: 2vw;
     }

     .main_crd_res_head p img {
          height: 5px;
     }

     .slidr_author {
          font-size: 8px !important;
          color: #939393;
     }

     .respon_crds_box {
          width: 40.2% !important;
     }

     .respon_crds_box p {
          font-size: 2vw;
     }

     .respon_crds_box span {
          font-size: 1.5vw;
     }

     .manfact_crd {
          width: 100%;

     }

     .btn {
          display: none;
     }

     .advertiser {
          display: none;
     }

     .respon_vccprem {
          width: 50%;
          margin-bottom: 15px;
     }

     .stes_crd2 {
          display: none;
     }

     .responsive_stories {
          flex-wrap: wrap;
     }

     .stes_crd_info p {
          width: auto;
          font-size: 2vw;
     }

     .stes_7_crd {
          display: block;
     }

     .ed_pop_sec2 {
          border: none;
     }

     .swiper-slide {
          width: 280px !important;
     }

     .vcctv_tv {
          width: 100%;
     }

     .vcctv_txt {
          width: 100%;
          text-align: justify;
     }

     .vcctv_txt h2 {
          width: auto;
          font-size: 17px;
     }

     .vcctvs_direction {
          flex-direction: column;
          justify-content: normal;
     }

     .swiper-button-next:after {
          display: none;
     }

     .swiper-button-prev:after {
          display: none;
     }

     .fot_nav li {
          font-size: 2vw;
     }

     .fot_nav2 li {
          font-size: 2vw;
          padding: 5px 5px;
     }

}

@media only screen and (min-width:310px) and (max-width: 768px) {
     .mergers_respons_display {
          display: block !important;
     }

     .mergers_desk_display {
          display: none !important;
     }

     .maincard_col::before {
          content: "";
          position: absolute;
          display: none;
     }

     .upevent_shdows::before {
          content: "";
          position: absolute;
          display: none;
     }

     .kalupri::before {
          content: "";
          position: absolute;
          display: none;
     }

     .mnfact_crd_info_respon {
          padding: 0px 5px;
     }

     .imageswidth img {
          width: 200px;
     }

     .vccprmi_respon {
          align-items: center;
          flex-direction: column;
     }

     .twiter_sudhir_responsive {
          width: 100% !important;
     }

     .slidr_text {
          font-size: 16px;
          width: 98%;
     }

     .swiper-container {
          width: 768px;
     }

     .vcctv_txt p {
          text-align: justify;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
     }

     .fot_nav2 {
          justify-content: center;
     }

     .vcctv_bg {
          border: none;
          padding: 0px 0px;
     }

     .vcctv_tv iframe {
          border-radius: 14px;
          width: 100%;
          height: 234px;
     }

     .input_BBox {
          background-color: #000000;
          /* height: 130px; */
          padding: 15px 6px;
          border-radius: 14px;
          margin: 30px 0px;
     }

}

@media only screen and (min-width:310px) and (max-width: 540px) {
     .vcctv_tv iframe {
          border-radius: 14px;
          width: 100%;
          height: 154px;
     }

     .active_nav_list {
          color: #F83900;
     }

     .ed_pop_sec2txt span {
          /* display: block !important; */
          font-size: 8px;
     }

     .vccpmium_span span {
          right: 0 !important;
     }

     .twitter_img img {
          width: 100%;
          height: 399px;
     }

     .vcctv_txt h2 {
          width: auto;
          font-size: 2.8vw;
          text-align: justify;
     }

     .vcctv_txt p {
          color: #222222;
          font-size: 12px;
          text-align: justify;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
     }

     .vcctv_txt span {
          color: #888888;
          font-size: 8px;
     }

     .imageswidth img {
          width: 150px;
     }

     .stes_crd_info p {
          width: auto;
          margin-top: 2px;
          font-size: 2.9vw;
          margin-bottom: 0px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
     }

     .stes_crd_info span {
          font-size: 1.5vw;
     }


     .responsive_nav_list {
          text-align: left;
          position: absolute;
          top: 0%;
          width: 100%;
          background-color: white;
     }

     .txt_cntr {
          text-align: center;
     }

     .flt_rgt {
          float: right;
     }

     .ed_pop_sec2txt p {
          margin-top: 0px;
          margin-bottom: 5px;
          font-size: 2.5vw;
          /* width: 278px; */
          width: 100%;
     }

     .ed_pop_img {
          width: 100%;
     }

     .big_container {
          margin-left: 25px;
          margin-right: 25px;
     }

     .respon_vccprem {
          width: 260px;
          margin-bottom: 15px;
     }

     .respon_vccprem_non {
          display: none;
     }

     .responsive_manfact_crd {
          display: flex;
     }

     .manufact_respimg img {
          width: 168px;
     }

     .manfact_crd p {
          font-size: 2vw;
          width: 100%;
          margin: 0px;
     }

     .res_ed_pop_line {
          justify-content: normal;
          /* flex-direction: column; */
     }

     /* .res_ed_pop_line span { */
     /* display: none; */
     /* } */

     .responsive_big_container {
          margin-left: 25px;
          margin-right: 25px;
     }

     .manfact_crd {
          width: 100%;
          /* margin: 0 auto; */
          text-align: left;
     }

     .respons_premium {
          display: none;
     }

     .manfact_crd p {
          width: 100%;
     }

     .input_txt {
          text-align: center;
     }

     .input_field input {
          width: 250px;
          margin-bottom: 15px;
     }

     .swiper-slide {
          width: 260px !important;
     }
}





/* @media screen and (max-width: 768px) {
     .swiper-container {
          width: 768px;
     }
} */