.slider_cls_container {
     display: flex;
     width: 100%;
     height: 400px;
     overflow-x: auto;
     scroll-snap-type: x mandatory;
     border: 2px solid red;

}

.section {
     height: 360px;
     scroll-snap-align: center;
     /* margin-left: 15px; */
     display: flex;
     white-space: nowrap;
}

.slider_allcrds {
     /* background-color: grey; */
     padding: 10px 10px;
}

/* .slidr_eachcrd { */
/* width: 40.5%; */
/* } */
.slidr_eachcrd img {
     width: 100%;
}

.slidr_text {
     font-size: 16px;
     width: 100%;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
}

.slidr_author {
     font-size: 12px;
     color: #939393;
}

.swiper-button-next:after {
     content: 'next';
     font-size: 22px !important;
     background-color: #007AFF;
     padding: 7px 13px;
     border-radius: 100%;
     color: white;
}

.swiper-button-prev:after {
     content: 'prev';
     font-size: 22px !important;
     background-color: #007AFF;
     padding: 7px 13px;
     border-radius: 100%;
     color: white;
}

.slidr_primum {
     position: relative;
}

.slidr_primum span {
     position: absolute;
     bottom: 10px;
     right: 6px;
     font-size: 10px;
     color: white;
     background: transparent linear-gradient(90deg, #FE8C00 0%, #F83600 100%);
     padding: 2px 2px !important;
     font-weight: 600;
}

.swiper-container {
     width: 480px;
}